(
    summary: ("Devlog", "./summary.adoc"),
    items: [
        File("", "./1_self.adoc"),
        File("", "./2_loxrs_tree_walk.adoc"),
        File("", "./3_blog.adoc"),
        File("", "./4_wfc.adoc"),
        File("", "./5_fov.adoc"),
        File("", "./6_cli.adoc"),
        File("", "./7_ssg_rs.adoc"),
        File("", "./8_minimum_ui.adoc"),
        File("", "./9_booktune_1.adoc"),
        File("", "./10_anf_hello_fna3d.adoc"),
        File("", "./11_c_libs.adoc"),
        File("", "./12_anf_gfx.adoc"),
        File("", "./13_anf_pong.adoc"),
        File("", "./14_anf_imgui.adoc"),
        File("", "./15_anf_transform.adoc"),
        File("", "./16_anf_media.adoc"),
        File("", "./17_adbook.adoc"),
        // File("", "./18_loxrs_vm.adoc"),
        // File("", "./19_rl.adoc"),
    ],
)
