/* three-column mode */
main {
  display: grid;
  grid-template-columns: 1fr minmax(0, min(50rem, 90vw)) 1fr;
}

#content {
  grid-column: 2;
  margin: 1.5rem auto 0 auto;
  width: min(50rem, 90vw);
}

#toc {
  grid-column: 3;
  align-self: start;
  position: sticky;
  top: 1.5rem;
  margin-top: 1.5rem;
  width: 250px;
  max-height: 100vh;
  overflow-y: auto;
  margin-left: 17px; /* 16px + --border-width */
  padding-left: 0rem;
  border-left: var(--border-width) solid rgb(96, 96, 114);
}

#content p {
  text-indent: 1em;
}

li p {
  text-indent: 0em;
}

/* sitemap article list */
.sitemap date {
  font-size: 0.9em;
  color: var(text-light);
  padding-right: 0.5em;
  font-family: monospace, monospace;
}

body > header {
  padding: 0;
}

header > nav {
  overflow-x: auto;
  white-space: nowrap;
}

header > h1 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* timestamp */
header > p {
  margin: .5rem auto .5rem auto !important;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
}

h1 {
  text-shadow: 2px 1px black;
}

h2 {
  border-bottom: 1px solid rgb(96, 96, 114);
  /* border-bottom: 1px solid rgb(126, 131, 152); */
  padding-bottom: 6px;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  /* remove underlines from self links */
  text-decoration: none;
}

body > footer {
  padding: 0;
}

footer > div {
  font-size: 1rem;
  line-height: 2;
  padding: 0;
}

footer > div a,
footer > div a:visited {
  margin: 0 0.5rem 1rem 0.5rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
}

footer > div a:hover {
  border-color: var(--accent);
  color: var(--accent);
  cursor: pointer;
}

blockquote {
  font-style: normal;
  margin: 0 1rem 0 1rem;
}

blockquote > p:first-child {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.figure {
  text-align: center;
}

div.WARNING {
  border-left: 2px solid #d75f5f;
  padding-top: 1px;
  padding-bottom: 1px;
}

.text-center {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.coderef-anchor {
  display: inline-block;
  color: #fff !important;
  background: rgba(175, 134, 90, 0.8);
  border-radius: 50%;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}
.coderef-anchor * {
  color: #fff !important;
}
.coderef-anchor + b {
  display: none;
}
/* .coderef-anchor::after{content:attr(data-value)} */

.coderef-off {
  display: inline-block;
  min-width: 100%;
  background: hsla(24, 20%, 50%, 0.25);
}

span.code-highlighted {
  display: inline-block;
  min-width: 100%;
}

.code-highlighted {
  background: hsla(60, 30%, 50%, 0.5);
}

/* aahub_light: https://qiita.com/scrpgil/items/b8bde1257a135d173585 */
/* TODO: delay loading */
@font-face {
  font-family: "aahub_light";
  src: url(/style/aahub_light.woff2) format("woff2");
  font-display: swap;
}

.yaruo {
  font-family: "aahub_light";
  font-size: 16px;
  line-height: 18px;
  text-indent: 0;
}

.org-tag {
  text-indent: 0;
  border: var(--border-width) solid var(--border);
  border-radius: var(--standard-border-radius);
  color: var(--text);
  display: inline-block;
  padding: 0px 6px;
  text-decoration: none;
}

/* ToC (sticky, right side) */

@media (max-width: 1150px) {
  /* single-column mode */
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  #content {
    grid-column: 1;
  }
  #toc-wrapper {
    display: none;
  }
}

a.toc-link {
  display: block;
}

a.is-active-link {
  background-color: hsla(24, 20%, 50%, 0.25);
}

#toc a:hover {
  background-color: hsla(24, 20%, 50%, 0.25);
  text-decoration: underline;
}

.toc-list {
  margin: 0;
}

ul.toc-list {
  list-style: none;
}

/* highlight on jump */
@keyframes fadeHighlight {
  0% { background-color: hsla(60, 30%, 50%, 0.5); }
  100% { background-color: transparent; }
}

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
  animation: fadeHighlight 2s ease-out forwards;
}

/* Modifies Tocbot CSS */

#toc ul {
  padding-left: 0;
}

#toc > .toc-list {
  overflow: hidden;
  position: relative;
}

a.toc-link {
  height: 100%;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
}

.node-name--H2 {
  padding-left: 16px;
}

.node-name--H3 {
  padding-left: 32px;
}

.node-name--H4 {
  padding-left: 48px;
}

.node-name--H5 {
  padding-left: 64px;
}

.node-name--H6 {
  padding-left: 80px;
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-active-link {
  font-weight: 700;
}
