body {
    /* wider */
    grid-template-columns: 1fr min(50rem, 90%) 1fr;
}

body > header {
    padding: 0;
}

header > nav {
    padding: 0;
}

header > nav a {
    text-align:center;
    max-width: 1200px;
}

/* timestamp */
header > p {
    margin: 0;

    color: var(--text-light);
    font-size: .9rem;
    text-align: center;
}

h1 {
    /* border-bottom: 1px solid rgb(79, 123, 84); */
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(79, 123, 84);
    text-decoration-thickness: 2px;
    line-height: 1.2;
}

body > footer {
    padding: 0;
}

footer > nav {
    font-size: 1rem;
    line-height: 2;
    padding: 0;
}

footer > nav a,
footer > nav a:visited {
    margin: 0 0.5rem 1rem 0.5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
}

footer > nav a:hover {
    border-color: var(--accent);
    color: var(--accent);
    cursor: pointer;
}

blockquote {
    margin: 0 1rem 0 1rem;
}

blockquote > p {
    font-style: normal;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

