body {
  /* wider */
  grid-template-columns: 1fr min(50rem, 90%) 1fr;
}

main p {
  text-indent: 1em;
}

li p {
  text-indent: 0em;
}

/* sitemap article list */
.sitemap date {
  font-size: 0.9em;
  color: var(text-light);
  padding-right: 0.5em;
  font-family: monospace, monospace;
}

body > header {
  padding: 0;
}

header > nav {
  padding: 0;
}

header > nav a {
  text-align: center;
  max-width: 1200px;
}

/* timestamp */
header > p {
  margin: 0;

  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
}

h1 {
  text-shadow: 2px 1px black;
}

h2 {
  border-bottom: 1px solid rgb(96, 96, 114);
  /* border-bottom: 1px solid rgb(126, 131, 152); */
  padding-bottom: 6px;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  /* remove underlines from self links */
  text-decoration: none;
}

body > footer {
  padding: 0;
}

footer > div {
  font-size: 1rem;
  line-height: 2;
  padding: 0;
}

footer > div a,
footer > div a:visited {
  margin: 0 0.5rem 1rem 0.5rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
}

footer > div a:hover {
  border-color: var(--accent);
  color: var(--accent);
  cursor: pointer;
}

blockquote {
  font-style: normal;
  margin: 0 1rem 0 1rem;
}

blockquote > p:first-child {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.figure {
  text-align: center;
}

div.WARNING {
  border-left: 2px solid #d75f5f;
  padding-top: 1px;
  padding-bottom: 1px;
}

.text-center {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.coderef-anchor {
  display: inline-block;
  color: #fff !important;
  background: rgba(175, 134, 90, 0.8);
  border-radius: 50%;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}
.coderef-anchor * {
  color: #fff !important;
}
.coderef-anchor + b {
  display: none;
}
/* .coderef-anchor::after{content:attr(data-value)} */

.coderef-off {
  display: inline-block;
  min-width: 100%;
  background: hsla(24, 20%, 50%, 0.25);
}

span.code-highlighted {
  display: inline-block;
  min-width: 100%;
}

.code-highlighted {
  background: hsla(60, 30%, 50%, 0.5);
}

/* aahub_light: https://qiita.com/scrpgil/items/b8bde1257a135d173585 */
/* TODO: delay loading */
@font-face {
  font-family: "aahub_light";
  src: url(/style/aahub_light.woff2) format("woff2");
  font-display: swap;
}

.yaruo {
  font-family: "aahub_light";
  font-size: 16px;
  line-height: 18px;
  text-indent: 0;
}

.org-tag {
}

