(
    summary: ("About", "index.adoc"),
    items: [
        // File("", "./self.adoc"),
        Dir("snow_rl"),
        Dir("rokol"),
        Dir("anf"),
        Dir("rl"),
        Dir("lang"),
        Dir("ssg"),
        Dir("note"),
        Dir("read"),
    ],
)
